<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="5.0.0-beta2" targetFramework="net45" />
  <package id="Bootstrap.Datepicker" version="1.8.0.1" targetFramework="net45" />
  <package id="BouncyCastle" version="1.8.6.1" targetFramework="net45" />
  <package id="ClosedXML" version="0.95.4" targetFramework="net45" />
  <package id="DocumentFormat.OpenXml" version="2.7.2" targetFramework="net45" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
  <package id="ExcelNumberFormat" version="1.0.10" targetFramework="net45" />
  <package id="Ionic.Zip" version="1.9.1.8" targetFramework="net45" />
  <package id="Iron.Assets.Rendering.Windows" version="20.0.0" targetFramework="net45" />
  <package id="IronPdf" version="2020.6.0" targetFramework="net45" />
  <package id="IronPdf.Native.Chrome.Windows" version="2022.1.4593" targetFramework="net45" />
  <package id="IronPdf.Slim" version="2022.1.4599" targetFramework="net45" />
  <package id="iTextSharp" version="5.5.13.2" targetFramework="net45" />
  <package id="jQuery" version="3.5.1" targetFramework="net45" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.Azure.Storage.Blob" version="11.2.3" targetFramework="net45" />
  <package id="Microsoft.Azure.Storage.File" version="11.2.3" targetFramework="net45" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net45" />
  <package id="WindowsAzure.Storage" version="9.3.3" targetFramework="net45" />
  <package id="ZXing.Net" version="0.16.7" targetFramework="net45" />
</packages>