<?xml version="1.0"?>
<!--<configuration>
  <system.web>

  </system.web>
</configuration>-->
<system.data.dataset>
  <MstPdf Id="Sp_JpMstPdf">
    <Ind>@Ind</Ind>
    <serno>@serno</serno>
    <pageid>@pageid</pageid>
    <Pagename>@Pagename</Pagename>
    <pdffilename>@pdffilename</pdffilename>
    <linkname>@linkname</linkname>
    <Groupid>@Groupid</Groupid>
    <Pagetitle>@Pagetitle</Pagetitle>
    <DisplayStatus>@DisplayStatus</DisplayStatus>
    <DisplayOrder>@DisplayOrder</DisplayOrder>
  </MstPdf>
</system.data.dataset>
